<h1>New section</h1>

<%= form_for @section, :url => { :action => "create" }, :html => {:class => "nifty_form"} do |f| %>
  <%= label_tag(:spire_id, "Spire ID:") %>
  <%= text_field(:section, :spire_id) %>
  <%= label_tag(:class_string, "Course Code:") %>
  <%= text_field(:section, :class_string) %>
  <%= label_tag(:name, "Course Name:") %>
  <%= text_field(:section, :name) %>
  <%= label_tag(:section_number, "Sections Number:") %>
  <%= text_field(:section, :section_number) %>
  <%= label_tag(:instructor, "Instructor:") %>
  <%= text_field(:section, :instructor) %>
  <%= label_tag(:size, "Class Size:") %>
  <%= text_field(:section, :size) %>
  <%= submit_tag("Add") %>
<% end %>
