<table id='profile'>
  <tr valign=top>
    <td>
      <litem>Name</litem>
    </td><td>
      <p class='ritem'><%= @email %></p>
    </td>
  </tr><tr valign=top>
    <td>
      <litem>Major</litem>
    </td><td>
      <p class='ritem'>
        <% @majors.each do |major| %>
          <%= major.degree %> <%= major.name %><br/>
        <% end %>
      </p>
    </td>
  </tr><tr valign=top>
    <td>
      <litem>Course</litem>
    </td><td>
      <p class='ritem'>
        <% @courses.each do |course| %>
          <%= course.class_string %> <br />
        <% end %>
      <%= link_to 'See my Schedule', '/schedule' %> 
</p>
</td>
</tr>
<tr valign=top>
<td>
<litem>Credit</litem>
</td><td>
<p class='ritem'>
  <% @credit.each do |c| %>
    Name: <%= c.name %><br />
    Year: <%= c.year %><br />
    GPA: <%= c.gpa %><br />
    DEPT: <%= c.dept %><br />
    ID: <%= c.number %><br />
  <% end %>
</p>
</td></tr>
</table>
